extends layout
block content
  #banner.page-header
    .row
      .col-lg-6
        h1 History

  .row
    .col-xs-12.col-sm-8(ng-controller="keywordsListCtrl as keyctrl")
      .row.list-group
        .col-xs-12.list-group-item(ng-repeat="key in keyctrl.listk")
          h4
            a(href="/History/{{key.name}}"){{key.name}}
  script(src='/angular/SCImgapp.js')
  script(src='/angular/angular.min.js')
